.pieChart {
  width: 23%;
  display: flex;
  box-shadow: 0px 0.5px 5px rgb(212, 212, 212);
  background-color: #ffff;
  margin-right: 1em;
  height: 15em;
  justify-content: center;
  align-items: center;
}
