.pieChart {
  width: 23%;
  display: flex;
  border: 1px solid black;
  box-shadow: 0px 8px 8px black;
  background-color: rgb(20, 132, 143);
  margin-right: 1em;
  height: 15em;
  justify-content: center;
  align-items: center;
}
