.dropdown-container {
  text-align: left;
  width: fit-content;
  border: 1px solid #ccc;
  padding: 0 1em;
  margin: 1em;
  position: relative;
  border-radius: 5px;
}

.dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.dropdown-options {
  position: absolute;
  top: 100%; /* Positions below the input */
  left: 0;
  width: 100%; /* Ensures it takes the full width of the container */
  z-index: 10;
  background: white; /* or any other background */
  border-radius: 0 0 5px 5px; /* Continue the border-radius of the container */
  max-height: 300px; /* Example maximum height */
  overflow-y: auto;
}

.dropdown-option {
  padding: 5px;
  &:hover {
    cursor: pointer;
    background-color: #f0f0f0; /* Example hover background */
  }
}
