.dropdown-container {
  text-align: left;
  width: 25%;
  border: 1px solid #8d8d8d;
  position: relative;
  color: #8d8d8d;
  border-radius: 5px;
}

.dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
