.chart-contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2.5em;
  h4 {
    text-align: center;
    margin-bottom: 3em;
  }
  .chart-and-filters {
    display: flex;
    align-items: center;
    .chart {
      align-items: center;
    }
  }
}
.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 1em auto;
  justify-content: space-around;
  position: relative;
}
