.App {
  background-color: #f3f3f3;
  height: 100%;
  width: 100%;
  padding-bottom: 2em;
}
.stats {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
  .graphs {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;

    .demographics {
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0.5px 5px rgb(212, 212, 212);
      background-color: #ffff;
      margin-right: 2em;
      width: 48%;
      padding: 2em;
      h4 {
        text-align: center;
      }
    }
    .items-sold {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48.5%;
      padding: 1em;
      background-color: #ffff;
      box-shadow: 0px 0.5px 5px rgb(212, 212, 212);
    }
  }
  .bottom-contain {
    display: flex;
    width: 100%;
  }
}
